.rating {
	display: inline-block;
	font-size: inherit;
}

.star {
	color: rgb(177, 177, 177);
}

.yellow {
	color: yellow;
}

.half-yellow {
	position: relative;
	display: inline-block;
}

.half-yellow::before {
	content: "★";
	position: absolute;
	color: yellow;
	clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}
