@use "../../scss/" as *;

#about-bromo {
	@include boxsize;
	color: $black;
	.about-content {
		@include paragraph-l(inherit, 400);
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(2, 1fr);
		.about-image {
			width: 100%;
			grid-row: 2 span;
			img {
				width: 100%;
			}
		}
	}

	@include tablet {
		.about-content {
			@include paragraph-m(inherit, 400);
			.about-image {
				grid-row: 1 span;
			}
			.about-text:nth-of-type(2) {
				grid-column: 2 span;
			}
		}
	}

	@include mobile {
		.about-content {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: auto;
			.about-text:nth-of-type(1) {
				height: max-content;
			}
			.about-text:nth-of-type(2) {
				grid-column: 1 span;
			}
		}
	}
}
