// Color
$black: #000000;
$white: #ffffff;
$gray-50: #f9fafb;
$gray-100: #e5e7eb;
$gray-500: #6b7280;
$gray-700: #374151;
$gray-900: #111827;

$primary: #b6957e;
$secondary: #faede0;
$accent1: #fd003a;
$accent2: #7a815f;

$primary300: #d3bfb2;
$secondary300: #fcf4ec;
$accent1-300: #fe6689;
$accent2-300: #afb39f;

// font
$fontSansSerif: "Lato", sans-serif;

//shadow

//radius

//width
$max-width: 1440px;
$mobileWidth: 480px;
$mobileLandscapeWidth: 768px;
$tabletWidth: 1024px;
$tabletLandscapeWidth: 1280px;
